#pragma once

// Copy this file to secrets.h and fill in your credentials
// WiFi
static const char* WIFI_SSID = "YourWiFiSSID";
static const char* WIFI_PASS = "YourWiFiPassword";

// MQTT
static const char* MQTT_HOST = "192.168.1.100"; // broker IP or hostname
static const uint16_t MQTT_PORT = 1883;
static const char* MQTT_USER = nullptr; // or "username"
static const char* MQTT_PASS = nullptr; // or "password"

